@media only screen and (max-width: 1400px) {
    .login a{
        margin-right: 0;
    }
    .logo img{
        margin-left: 0;
    }
    .navbar > .container .navbar-brand img{
        margin: 0;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .margin_area h3 {
        text-align: center;
    }

    .img_area > img {
        margin-left: 35px;
    }

    h4.m-b-lg {
        line-height: inherit;
    }

    section#home.home_area {
        background: url(img/background-mobile.jpg)
    }

    .header_menu ul li a {
        padding: 10px;
    }

    .main_menu ul li a {
        padding: 5px 25px;
    }

    .rows {
        width: auto;
    }
    img{
        margin: 0;
    }
    .main_menu ul li a img{
        margin-right: 0;
    }
    .cont_area{
        margin-top: 30px;
    }
    .adit-main .adit-content.more{
        padding: 120px 15px;
    }
    .adit-main .scroll-info{
        margin-top: 50px;
    }
    .adit-loading-bar{
        width: 0;
    }
    .adit-loaded .adit-cover-layer{
        width: 0;
    }
    .feed_area{
        padding-top: 0;
        padding-bottom: 50px;
    }
    h2{
        margin-top: 0;
    }
    .profile_area{
        padding-top: 0;
    }
    .find_area{
        padding-top: 0;
    }
    div.box{
        margin: 0 auto;
    }
    .slick-initialized .slick-slide{
        width: 682px !important;
    }

    section#home.home_area{
        background-size: cover;
    }

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 320px) {
    .cont_area {
        margin-top: 10px;
        text-align: center;
    }

    div.col-xs-12.text-center.scroll-info {
        margin-top: 40px
    }

    div.form_area {
        margin-left: 60px;
    }

    .margin_area h3 {
        text-align: center;
    }

    h4.m-b-lg {
        line-height: inherit;
    }

    section#home.home_area {
        background: url(img/background-mobile.jpg)
    }

    .header_menu ul li {
        display: inline;
        width: 100%;
    }

    .header_menu ul {
        margin-top: 10px;
        text-align: left;
    }

    .login p {
        margin-left: 15px;
    }

    .main_menu ul li {
        margin-bottom: 10px;
    }

    .rows {
        width: auto;
    }

    .home_area a.more {
        margin-bottom: 25px;
    }

    img {
        display: block;
        margin: 0 auto !important;
        width: 80%;
    }

    .feed_area {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .box, .counter{
        text-align: center;
        margin: 0 !important;
    }

    .counter a{
        display: block;
    }

    .counter img{
        width: auto;
    }

    section#home.home_area{
        background-size: cover !important;
    }

    .form_area{
        width: 90% !important;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .form_area .form-wrap{
        margin: 0 auto;
    }

    .form_area .form-wrap input{
        width: 100%;
    }
    .form_area input[name=first_name], .form_area input[name=last_name]{
        width: 49%;
        margin: 0;
    }
    .form_area select[name=teacher]{
        width: 100%;
    }
    .near_area{
        padding-bottom: 40px;
    }

    .main_menu ul li a img {
        display: inline-block;
        margin: 0;
        width: auto;
    }
    .form_area input[name=submit]{
        margin-top: 35px;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 479px)and (min-width: 321px) {
    .cont_area {
        margin-top: 50px;
        text-align: center;
    }

    div.col-xs-12.text-center.scroll-info {
        margin-top: 40px
    }

    div.form_area {
        margin-left: 60px;
    }

    .margin_area h3 {
        text-align: center;
    }

    .img_area > img {
        margin-left: 0px;
        width: 340px;
    }

    h4.m-b-lg {
        line-height: inherit;
    }

    section#home.home_area {
        background: url(img/background-mobile.jpg)
    }

    .header_menu ul li {
        display: inline;
        width: 100%;
    }

    .header_menu ul {
        margin-top: 10px;
        text-align: left;
    }

    .main_menu ul li {
        margin-bottom: 10px;
    }

    .rows {
        width: auto;
    }

    .no-touch #cd-vertical-nav .cd-dot {
        margin: 0 0 -230px 0;
    }

    .footer_end .container .end_rows #p {

    }
    .counter img{
        margin: 0;
    }
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media all and (max-width: 767px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none !important;
    }

    .about{
        display: block !important;
        text-align: center;
    }

    .login a {
        color: #fff;
        margin-top: 10px;
        border: 1px solid #fff;
        line-height: 15px;
        border-radius: 111px;
        padding: 10px 16px;
        margin-right: 0px;
    }

}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cont_area {
        margin-top: 50px;
        text-align: center;
    }

    div.col-xs-12.text-center.scroll-info {
        margin-top: 40px
    }

    div.form_area {
        margin-left: 60px;
    }

    .margin_area h3 {
        text-align: center;
    }

    .img_area > img {
        margin-left: 35px;
    }

    h4.m-b-lg {
        line-height: inherit;
    }

    section#home.home_area {
        background: url(img/background-mobile.jpg)
    }

    .header_menu ul li {
        display: block;
        width: 100%;
    }

    .header_menu ul {
        margin-top: 10px;
        text-align: left;
    }

    .main_menu ul li {
        margin-bottom: 10px;
    }

    .rows {
        width: auto;
    }

    .home_area a.more {
        margin-bottom: 25px;
    }
    .img_area > img{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .cont_area h2{
        margin-bottom: 10px;
    }
    .profile_area{
        padding-top: 40px;
    }
    .feed_area {
        padding-top: 20px;
    }
    .cont_area{
        margin-top: 20px;
    }
    section#home.home_area{
        background-size: cover;
    }



}

/* Layout with 766px wide and below */
@media (max-width: 766px) {
    div.form_area {
        margin-left: 60px;
    }

    .margin_area h3 {
        text-align: center;
        margin-top: 60px;
    }

    /* .img_area > img{
      margin-left: 35px;
    }*/
    h4.m-b-lg {
        line-height: inherit;
    }

    section#home.home_area {
        background: url(img/background-mobile.jpg)
    }

    header .logo, header .login {
        text-align: center;
        padding-bottom: 15px;
        margin: auto;
        margin-top: 19px;
    }

    header .login {
        text-align: center;
        padding-bottom: 15px;
        margin: auto;
    }

    .navbar-brand {
        margin: 15px 0 0 15px;
        width: 105px
    }

    .navbar-default .navbar-toggle {
        border: none;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-toggle .icon-bar {
        width: 30px;
        height: 4px;
        border-radius: 5px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 5px;
    }

    .touch #cd-vertical-nav, .no-touch #cd-vertical-nav, .touch .cd-nav-trigger {
        display: none;
    }
    section#home.home_area{
        background-size: cover !important;
    }

    .form_area{
        width: 90% !important;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .form_area .form-wrap{
        margin: 0 auto;
    }

    .form_area .form-wrap input{
        width: 100%;
    }
    .form_area input[name=first_name], .form_area input[name=last_name]{
        width: 49%;
        margin: 0;
    }
    .form_area input[name=last_name]{
        float: right;
    }
    .form_area select[name=teacher]{
        width: 100%;
    }
    .feed_area{
        padding-top: 0;
        padding-bottom: 50px;
    }
    h2{
        margin-top: 0;
    }
    .profile_area{
        padding-top: 0;
    }
    .find_area{
        padding-top: 0;
    }
    div.box{
        margin: 0 auto;
    }
    p, h5{
        font-size: 18px;
    }

}

/* Layout with 768px wide and above */
@media (min-width: 766px) {
    p, h5{
        font-size: 18px;
    }
    .margin_area h3 {
        text-align: center;
    }

    /*.img_area > img{
      margin-left: 35px;
    }*/
    h4.m-b-lg {
        line-height: inherit;
    }

    /*  header{
      margin-top: -140px
    }  */
    /* section#home.home_area{
    background: url(img/background-mobile.jpg)
    }*/
    .content_slider_wrapper {
        padding-top: 130px;
    }

    .testimonial-section .main_content_slider_wrapper {
        overflow: visible
    }

    .testimonial-section .client-says {
        max-width: 745px;
        width: 150%;
        top: -370px;
        left: -25%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
